In [208]:
# English Premier League - season_match_stats 2017/2018
import pandas as pd
df = pd.read_json("English_Premier_League_match_stats.json",orient="index")
#df.iloc[:,2:10]
df['match_date'] = pd.to_datetime(df['date_string']).dt.date
df['day'] = pd.to_datetime(df['date_string']).dt.day
df['month'] = pd.to_datetime(df['date_string']).dt.month_name()
df['year'] = pd.to_datetime(df['date_string']).dt.year
df['time'] = pd.to_datetime(df['date_string']).dt.time
df['half_time_score'] = '(' + df[['half_time_score']] + ')'
df['full_time_score'] = '(' + df[['full_time_score']] + ')'
df['match result'] = df['home_team_name'] +' '+ df['full_time_score'] +' '+ df['away_team_name']
df = df[['home_team_name', 'away_team_name','match result','match_date','day','month','year','time','half_time_score','full_time_score']]
df.rename(columns = {'home_team_name':'home_team', 'away_team_name':'away_team'}, inplace = True)

df['home_team_score_half_time'] = df['half_time_score'].str.strip().str[1]
df['away_team_score_half_time'] = df['half_time_score'].str.strip().str[-2]

df['home_team_score_full_time'] = df['full_time_score'].str.strip().str[1]
df['away_team_score_full_time'] = df['full_time_score'].str.strip().str[-2]


df.loc[df['home_team_score_half_time'] >  df['away_team_score_half_time'], 'half_time_winner'] = df['home_team']  
df.loc[df['home_team_score_half_time'] <  df['away_team_score_half_time'], 'half_time_winner'] = df['away_team']  
df.loc[df['home_team_score_half_time'] == df['away_team_score_half_time'], 'half_time_winner'] = 'Draw' 


df.loc[df['home_team_score_full_time'] >  df['away_team_score_full_time'], 'full_time_winner'] = df['home_team']  
df.loc[df['home_team_score_full_time'] <  df['away_team_score_full_time'], 'full_time_winner'] = df['away_team']  
df.loc[df['home_team_score_full_time'] == df['away_team_score_full_time'], 'full_time_winner'] = 'Draw' 

df['winner'] = df['full_time_winner']

df = df[['home_team', 'away_team','match result','half_time_winner','half_time_score','full_time_score','full_time_winner','winner','match_date','day','month','year','time']]

df.to_excel('English_Premier_League.xlsx',sheet_name = 'English_League' )
df

,home_team,away_team,match result,half_time_winner,half_time_score,full_time_score,full_time_winner,winner,match_date,day,month,year,time
1190418,Huddersfield,Liverpool,Huddersfield (0 : 3) Liverpool,Liverpool,(0 : 2),(0 : 3),Liverpool,Liverpool,2018-01-30,30,January,2018,20:00:00
1190424,Brighton,Bournemouth,Brighton (2 : 2) Bournemouth,Draw,(1 : 1),(2 : 2),Draw,Draw,2018-01-01,1,January,2018,12:30:00
1190342,Chelsea,Leicester,Chelsea (0 : 0) Leicester,Draw,(0 : 0),(0 : 0),Draw,Draw,2018-01-13,13,January,2018,15:00:00
1190356,Liverpool,Swansea,Liverpool (5 : 0) Swansea,Liverpool,(1 : 0),(5 : 0),Liverpool,Liverpool,2017-12-26,26,December,2017,17:30:00
1190430,Chelsea,Bournemouth,Chelsea (0 : 3) Bournemouth,Draw,(0 : 0),(0 : 3),Bournemouth,Bournemouth,2018-01-31,31,January,2018,19:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190429,Liverpool,Watford,Liverpool (5 : 0) Watford,Liverpool,(2 : 0),(5 : 0),Liverpool,Liverpool,2018-03-17,17,March,2018,17:30:00
1190415,West Ham,Watford,West Ham (2 : 0) Watford,West Ham,(1 : 0),(2 : 0),West Ham,West Ham,2018-10-02,2,October,2018,15:00:00
1190373,Arsenal,Watford,Arsenal (3 : 0) Watford,Arsenal,(1 : 0),(3 : 0),Arsenal,Arsenal,2018-11-03,3,November,2018,13:30:00
1190367,Manchester United,Huddersfield,Manchester United (2 : 0) Huddersfield,Draw,(0 : 0),(2 : 0),Manchester United,Manchester United,2018-03-02,2,March,2018,15:00:00
1190401,Stoke,Manchester City,Stoke (0 : 2) Manchester City,Manchester City,(0 : 1),(0 : 2),Manchester City,Manchester City,2018-12-03,3,December,2018,20:00:00